/* Kevin Yang */
/* Styles the body */
body{
	font-family:arial;
	max-width: 600px;
	margin: auto;
}
/* Background color of first page */
#sandybrown{
	background-color:sandybrown;
}
/* Background color of second page */
#p2{
	background-color:#100b09;
	color:white;
}
/* Styles paragraphs */
p{
	font-size:18px;
	font-weight:normal;
}
/* Styles the definition of racism */
#definition{
	font-style:italic;
	font-family:timesnewroman;
}
/* Styles the first page header */
#contents{
	font-family:stencil;
	font-size:40px;
	color:olive;
}
/* Styles the second page header */
#racism{
	font-family:stencil;
	color:darkred;
	font-size:60px;
}
/* Styles the questions */
.question{
	font-family:papyrus;
}
/* Styles the third page header */
#stuff{
	font-family:rockwell;
	color:blue;
	font-size:45px;
}
/* Styles the Ebooks header */
#resource1{
	font-family:harrington;
	font-size:30px;
	color:orange;
}
/* Styles the Audiobooks header */
#resource2{
	font-family:harrington;
	font-size:30px;
	color:gold;
}
/* Centers anything with the class center */
.center{
	text-align:center;
}
/* Makes sure the list numbers are near the list items */
li{
	list-style-position:inside;
}
/* Indicates that the cover is being hovered over */
.cover:hover {
	width:355px;
	height:455px;
    filter: opacity(50%);
}
/* Styles the links */
a{
	font-size:20px;
	font-weight:normal;
}
/* Styles the links when hovered over */
a:hover {
    font-weight:bold;
}
/* Styles the third page */
.resources{	
	max-width: 800px;
	margin: auto;
	background-color:sienna;
}
/* Styles the border of the image on the second page */
#border{
	border: 2px solid red;
}
/* Adds an animation to the image on the second page */
.fade {
    animation: opacity 4s forwards;
}
/* Controls the animation */
@keyframes opacity {
    from {
		filter: opacity(0%);
    }
    
    to {
        filter: opacity(100%);
    }
}